/*pagina um (index)*/

.container1 {
    display: flex;
    margin: 0 auto;
    height:600px;
    width: 1200px;
    flex-direction: column;
}

.container2 {
    display: flex;
    flex: 1;
    background-color: rgb(88, 65, 65);
    padding: 10px;
}

.container2 h1{
    color: rgb(252, 246, 246);
}

.container3 {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.containerMenu {
    background-color: rgb(70, 58, 57);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.containerLayout ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: rgb(236, 243, 237);
    border: 5px solid rgb(244, 245, 243);
    border-radius: 5px;
}

.containerLayout a{
    text-decoration: none;
    color: rgb(12, 11, 12);
}

.containerAd {
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 13, 61);
    flex: 1;
}

.container5 {
    display: flex;
    background-color: rgb(25, 12, 36);
    flex: 2;
    flex-direction: column;
    padding: 10px;
}

/*pagina dois*/

.content1 {
    display: flex;
    height: 100px;
    background-color:rgb(97, 65, 116);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.content1 ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(131, 75, 221);
    border: 7px solid rgb(131, 75, 221);
    border-radius: 5px;
    color: rgb(236, 232, 236)250);
}

.content1 a{
    text-decoration: none;
    color: rgb(117, 20, 20);
}

.content2 {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content3 {
    display: flex;
    height: 400px;
    width: 220px;
    background-color: rgb(191, 105, 224);
    flex-direction: column;
}

.content3 p{
    padding: 20px;
}

.content3 h1{
    background-color: rgb(86, 6, 110);
    border: 20px solid rgb(86, 6, 110);
    margin-top: -10px;
    color: rgb(245, 241, 244);
}

/*pagina tres*/

.blocoPrincipal {
    height: 50vh;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px;
    margin-top: 90px
}

.bloco1 {
    height: 20vh;
    flex: 1;
    background-color: rgb(255, 0, 255);
}

.bloco2 {
    height: 30vh;
    flex: 1;
    background-color: rgb(255, 43, 184);
}

.bloco3 {
    height: 15vh;
    flex: 1;
    background-color: rgb(218, 16, 184);
}

.bloco4 {
    height: 35vh;
    flex: 1;
    background-color: rgb(192, 5, 167);
}

.bloco5 {
    height: 50vh;
    flex: 1;
    background-color: rgb(139, 4, 121);
}

.bloco6 {
    height: 20vh;
    flex: 1;
    background-color: rgb(94, 1, 74);
}